

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}

nav ul {
    margin: 0;
    padding: 0;
}
body a
{
  color: #000000;
}

nav {
    height: 56px;
    line-height: 56px;
    position: fixed;
    left: 0;
    top: 0;
    opacity: 0.8;
    background-color: #EEE;
    width: 100%;
    text-align: center;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.5);
    z-index: 500;
}

nav li {
    display: inline;
    z-index: 2;
    margin: 0 30px;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@media (max-width: 499px) {
    nav {
        display: none;
    }

}

nav a {
    text-decoration: none;
    color: black;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
}





